---
layout: layouts/base.njk
---
<div class="w-2/3 rounded shadow-xl p-4 mx-auto">
    <h1>Pass The Test. Get Your Ticket. Live Your Dream.</h1>
    <form 
    name="customer-contact" 
    class="flex flex-wrap"
    action="/resources/" 
    netlify 
    netlify-honeypot="bot-field">
        <p class="hidden"><label>Don’t fill this out if you're human: </label><input name="bot-field" /></p>
        <section>
            <input type="email" name="email" class="rounded outline-none px-2 py-1" />
        </section>
        <section>
            <button type="submit" class="ml-2 px-2 py-1 rounded-full bg-red-500">Signup</button>
        </section>
    </form>
</div>
